<%- include('../../Partials/header.ejs') %>

<head>
    <link rel="stylesheet" href="Style/explorar.css">
</head>
<div class="explorarContainer">
    <div class="row">
        <section>
            <a href="/explorar/filter=latest">Latest</a>

            <a href="/explorar/filter=week">Week</a>

            <a href="/explorar/filter=month">Month</a>

            <a href="/explorar/filter=All">All</a>
        </section>

        <section>
            <p>There is no Post</p>
        </section>

    </div>
</div>