<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Style/navigationStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
</head>
<body>
    <nav>
  <div class="nav-container">
    <div class="logo">
      <h1>.Daily-Blog</h1>
    </div>

    <div class="search-bar-div">
      <form action="/search" class="nav-search-form" method="GET">
        <input type="search" name="term" placeholder="Search..." class="nav-search-input">
        <button type="submit" class="nav-search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
    </div>

    <div class="hamburger-menu" id="hamburgerMenu">
      <i class="fa-solid fa-bars"></i>
    </div>

    <div class="other-section" id="otherSection">
      <div class="ul-with-btn">
        <ul>
          <li><a href="/explorar">Blog</a></li>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
        <% if(isLoggedIn){ %>
          <div class="Login-option">
            <a href="/auth/logout">Logout</a>
          </div>
        <% } else{ %>
          <div class="Login-option">
            <% if(currentPage === 'Login'){%>
              <a href="/auth/signup">Signup</a>
            <%}else if (currentPage === 'Signup'){%>
              <a href="/auth/login">Login</a>
            <%}else{%>
              <a href="/auth/login">Login</a>
            <%} %>
          </div>  
        <% } %> 
      </div>
    </div>
  </div>
</nav>

<script>
  const hamburger = document.getElementById('hamburgerMenu');
  const otherSection = document.getElementById('otherSection');
  const hamburgerIcon = hamburger.querySelector('i');

  function closeMenuOnResize() {
    if(window.innerWidth > 770) {
      otherSection.classList.remove('open');
      hamburgerIcon.classList.remove('fa-xmark');
      hamburgerIcon.classList.add('fa-bars');
    }
  }

  hamburger.onclick = () => {
    otherSection.classList.toggle('open');
    if (hamburgerIcon.classList.contains('fa-bars')) {
      hamburgerIcon.classList.remove('fa-bars');
      hamburgerIcon.classList.add('fa-xmark');
    } else {
      hamburgerIcon.classList.remove('fa-xmark');
      hamburgerIcon.classList.add('fa-bars');
    }
  }

  window.addEventListener('resize', closeMenuOnResize);
</script>