<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Style/navigationStyle.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        <% if(isLoggedIn){ %>
            <div class="Login-option">
                <a href="/auth/logout">Logout</a>
            </div>
        <% } else{ %>
            <div class="Login-option">
                <% if(currentPage === 'Login'){%>
                    <a href="/auth/signup">Signup</a>
                <%}else if (currentPage === 'Signup'){%>
                    <a href="/auth/login">Login</a>
                <%}else{%>
                    <a href="/auth/login">Login</a>
                <%} %>
            </div>  
        <% } %>
        
    </nav>  