.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sub-container-2 {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 4%;
}

.containerBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: auto;
    padding: 20px;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
}

.infoForm {
    width: 63%;
    height: auto;
}

.profilePics {
    width: 30%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

#profilePics {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1.5px solid green;
    margin-bottom: 10px;
}

#profilePicsForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#profilePicsForm input {
    margin-top: 10px;
    width: 150px;
}

.form-group {
    margin: 10px 0;
}

.form-group label {
    font-size: 1.2rem;
    font-weight: 500;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #f1f1f1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 5px;
}

.link-group {
    margin-top: 10px;
}

.totalIndividual {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.individual-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    width: 48%;
}

.individual-link i {
    font-size: 1.2rem;
    margin-right: 10px;
}

.individual-link input {
    width: 100%;
    padding: 10px;
    border: 1px solid #f1f1f1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    outline: none;
}

.createProfileBtn {
    background-color: rgb(96, 207, 96);
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 9px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .containerBox {
        flex-direction: column;
        width: 100%;
        padding: 10px;
    }

    .infoForm, .profilePics {
        width: 100%;
    }

    .individual-link {
        width: 100%;
    }
}

@media (max-width: 750px) {
    .containerBox {
        flex-direction: column;
        width: 100%;
        padding: 10px;
        margin-top: 75%;
    }
}

@media (max-width: 390px) {
    .containerBox {
        flex-direction: column;
        width: 100%;
        padding: 10px;
        margin-top: 103%;
    }
}

