<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new profile</title>
    <link rel="stylesheet" href="/Style/login.css">
</head>
<body>
    
    <%- include('../../../Partials/header.ejs') %>
    <!-- write more about login pgs -->

        <h1>Create a brand new profile </h1>
        

    <%- include('../../../Partials/footer.ejs') %>