<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">   
    <link rel="stylesheet" href="/Style/login.css"> 
    <link rel="stylesheet" href="/Style/createPost.css">
    <link rel="stylesheet" href="/Style/sidebar.css">
    <link rel="stylesheet" href="/Style/dashboard.css">
</head>
<body>
    <%- include('../../../Partials/header.ejs') %>

    <div class="dashboard-container">
        <aside class="dashboard-sidebar">
            <%- include('../../../Partials/sidebar.ejs') %>
        </aside>
        <main class="dashboard-main-content">
            <div class="container">
                <div class="containerBox">
                    <h2>Create New Post</h2>
                    <form action="/post/create" id="createPostForm" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="title">Post Title</label>
                            <input type="text" name="title" id="title" placeholder="Enter Title" required>
                        </div>
                        <div class="form-group">
                            <label for="tags">Tags</label>
                            <input type="text" name="tags" id="tags" placeholder="add tags (e.g tag1, tag2, tag3)" required>
                        </div>
                        <div class="form-group">
                            <label for="image">Image</label>
                            <input type="file" name="image" id="image" accept="image/*">
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea name="description" id="description" placeholder="Enter Description" required></textarea>
                        </div>
                        <div class="two_btn">
                            <button type="submit" class="btn submit">Create Post</button>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </div>
</body>
</html>